<div class="all-in-one-table">

  <vr-list name="Actuators" [columns]="columns" (filterChange)="onFilterChange($event)">
    <div class="actions" fxFlexAlign="center">
      <button class="create" (click)="createActuator()" type="button" mat-mini-fab color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Checkbox Column -->
      <ng-container matColumnDef="checkbox">
        <mat-header-cell class="actions-cell" *matHeaderCellDef>
          <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
        </mat-header-cell>
        <mat-cell class="actions-cell" *matCellDef="let row">
          <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="image">
        <mat-header-cell class="image-cell" *matHeaderCellDef></mat-header-cell>
        <mat-cell class="image-cell" *matCellDef="let row">
          <img src="//placehold.it/40x40">
        </mat-cell>
      </ng-container>

      <!-- fullName Column -->
      <ng-container *ngFor="let column of columns">
        <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.name }}</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row[column.property] }}</mat-cell>
        </ng-container>
      </ng-container>


      <!-- actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell class="actions-cell" *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell class="actions-cell" *matCellDef="let row">
          <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
            <mat-icon>more_horiz</mat-icon>
          </button>

          <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">
            <button (click)="updateActuator(row)" mat-menu-item>
              <span>Modify</span>
            </button>
            <button (click)="deleteActuator(row)" mat-menu-item>
              <span>Delete</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: visibleColumns;" (click)="updateActuator(row)" class="clickable"></mat-row>
    </mat-table>

    <mat-paginator class="paginator" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>

  </vr-list>

</div>
