﻿<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center center" style="margin: 24px 0;">

        <div class="register mat-elevation-z12">
            <div class="register-header" fxLayout="column" fxLayoutAlign="center center">
                <img src="assets/img/icon.png">
            </div>
            <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                <div class="register-content" fxLayout="column" fxLayoutAlign="start stretch">
                    <mat-form-field>
                        <input matInput placeholder="First Name" type="text" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Last Name" type="text" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required >
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Username" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required >
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="E-Mail" type="email" name="email" [(ngModel)]="model.email" #email="ngModel" required >
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
                    </mat-form-field>
                    <!--<mat-form-field>-->
                        <!--<input matInput placeholder="Password (Confirm)" type="password" name="password-confirm" required [(ngModel)]="passwordConfirm">-->
                    <!--</mat-form-field>-->
                    <div class="extra-options" fxLayout="row" fxLayoutAlign="center center">
                        <mat-checkbox class="remember-me">I accept the <a href="#">terms and conditions.</a></mat-checkbox>
                    </div>
                    <button color="primary" mat-raised-button [disabled]="!f.form.valid">CREATE ACCOUNT</button>
                    <p class="note">Already have an account?<br/> <a [routerLink]="['/login']">Sign in here</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
