<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
  <div class="login mat-elevation-z12">
    <div class="login-header" fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/img/icon.png">
    </div>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="login-content" fxLayout="column" fxLayoutAlign="start stretch">
          <mat-form-field>
            <input matInput placeholder="Username" type="text" name="username" required [(ngModel)]="model.username">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" type="password" name="password" required [(ngModel)]="model.password">
          </mat-form-field>
          <div class="extra-options" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-checkbox class="remember-me">Remember Me</mat-checkbox>
            <a class="forgot-password" [routerLink]="['/forgot-password']">Forgot Password?</a>
          </div>
          <button color="primary" mat-raised-button [disabled]="!f.form.valid">SIGN IN</button>
          <p class="note">Don't have an account?<br/> <a [routerLink]="['/register']">Click here to create one</a></p>

      </div>
    </form>
  </div>
</div>
