<div fxLayout="row" fxLayoutAlign="center center" style="margin: 24px 0;">
  <mat-card fxFlex>
    <mat-card-content fxLayout="column">
      <div fxFlex class="mat-elevation-z2">
        <table class="table" [class.table-hover]="tableHover" [class.table-striped]="tableStriped" [class.table-condensed]="tableCondensed" [class.table-bordered]="tableBordered">
          <thead>
          <tr>
            <th>Id</th>
            <th>Source</th>
            <th>Category</th>
            <th>Content</th>
            <th>Event creation</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of rows">
            <td>{{ row.id }}</td>
            <td>{{ row.sourceUid }}</td>
            <td>{{ row.category }}</td>
            <td>{{ row.action }}</td>
            <td>{{ row.createTimestamp }}</td>
            <td><button mat-icon-button><mat-icon>search</mat-icon></button></td>

          </tr>
          </tbody>

        </table>
      </div>
      <mat-paginator class="paginator" [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
