<div class="dashboard" fxLayout="column" fxLayoutGap="16px">
  <div fxLayout="column" fxLayoutGap="16px"
       fxLayout.gt-md="row" fxLayoutAlign.gt-md="start start">
    <div fxLayout="column" fxLayoutGap="16px" fxFlex="auto" fxFlex.gt-md>
      <vr-bar-chart widgetTitle="Sensor data received" bgColor="linear-gradient(60deg, #8C99E0, #6572B8)" textColor="#FFFFFF"
                    chartColor="#FFFFFF" gain="16.3" comparedTo="% compared to last month"
                    [data]="discreteBarDemoData">
      </vr-bar-chart>
    </div>
    <div fxLayout="column" fxLayoutGap="16px" fxFlex="auto" fxFlex.gt-md>
      <vr-line-chart widgetTitle="Water consumption" bgColor="linear-gradient(60deg, #4DD0E2, #4CA8BA)" textColor="#FFFFFF"
                     chartColor="#FFFFFF" gain="42.5" comparedTo="% compared to last month"
                     [data]="lineChartDemoData">
      </vr-line-chart>
    </div>
    <div fxLayout="column" fxLayoutGap="16px" fxFlex="auto" fxFlex.gt-sm>
      <vr-line-chart widgetTitle="Eletricity" bgColor="linear-gradient(60deg, #21C6A3, #32A8F4)" textColor="#FFFFFF"
                     chartColor="#FFFFFF" interpolate="true" gain="-6.1" comparedTo="% compared to last month"
                     [data]="lineChartInterpolatedDemoData">
      </vr-line-chart>
    </div>
  </div>

  <div fxLayout="column" fxLayoutGap="16px"
       fxLayout.gt-md="row" fxLayoutAlign.gt-md="start start">
    <div fxLayout="column" fxLayoutGap="16px" fxFlex="auto" fxFlex.gt-md>
      <vr-pie-chart [data]="pieChartDemoData" widgetTitle="Top 5 Categories" subTitle="Compared by sensor data shared" textColor="#757575"></vr-pie-chart>
    </div>
    <div fxLayout="column" fxLayoutGap="16px" fxFlex="auto" fxFlex.gt-md>
      <vr-recent-sales [sales]="recentSalesProductsDemoData" [chartData]="recentSalesDemoData"></vr-recent-sales>
    </div>
  </div>
  <div fxLayout="column" fxLayoutGap="16px"
       fxLayout.gt-md="row" fxLayoutAlign.gt-md="start start">
    <div fxLayout="column" fxLayoutGap="16px" fxFlex="auto" fxFlex.gt-lg>
      <vr-google-maps-widget height="450px"></vr-google-maps-widget>
    </div>
  </div>
</div>
